@model IEnumerable<VideoOnDemand.Web.Models.FavoritoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaAgregado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mediaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAgregado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mediaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
