@model IEnumerable<VideoOnDemand.Web.Models.PersonaViewModel>

@{
    ViewBag.Title = "Actores";
}

<h2>Actores</h2>

<p>
    @Html.ActionLink("Agregar Nuevo Actor", "Create")
</p>
        <table class="table-bordered">
            <tr>
                <th>
                   <center>@Html.DisplayNameFor(model => model.Name)</center>
                </th>
                <th>
                    <center>@Html.DisplayNameFor(model => model.Descripcion)</center>
                </th>
                <th>
                   <center>@Html.DisplayNameFor(model => model.FechaNacimiento)</center> 
                </th>
                <th>
                    <center>@Html.DisplayNameFor(model => model.Status)</center>
                </th>
                <th><center>Acciones</center></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>

                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>